In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Historical Product Demand.csv')
df

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [2]:
#Checking for missing values in the DataFrame
df.isnull().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64

In [3]:
# Removed the Date column because of missing values
#df.drop('Date', axis = 1, inplace = True)
df.dropna(inplace=True,axis=0)
df

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1037336 rows x 5 columns]

In [4]:
print(len(df['Product_Code']))
print(len(df['Warehouse']))
print(len(df['Product_Category']))
print(len(df['Order_Demand']))
result = df.dtypes
result

1037336
1037336
1037336
1037336

Product_Code        object
Warehouse           object
Product_Category    object
Date                object
Order_Demand        object
dtype: object

In [5]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
forcast_df = pd.get_dummies(df, columns=["Product_Code", "Warehouse", "Product_Category"])

# df1 = ohe.fit_transform(df[['Product_Code', 'Warehouse', 'Product_Category']])
# pd.DataFrame(df1.toarray(), columns=ohe.categories_).head()
forcast_df

,Date,Order_Demand,Product_Code_Product_0001,Product_Code_Product_0002,Product_Code_Product_0003,Product_Code_Product_0004,Product_Code_Product_0005,Product_Code_Product_0006,Product_Code_Product_0007,Product_Code_Product_0008,...,Product_Category_Category_024,Product_Category_Category_025,Product_Category_Category_026,Product_Category_Category_027,Product_Category_Category_028,Product_Category_Category_029,Product_Category_Category_030,Product_Category_Category_031,Product_Category_Category_032,Product_Category_Category_033
0,2012/7/27,100,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2012/1/19,500,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2012/2/3,500,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2012/2/9,500,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2012/3/2,500,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2016/4/27,1000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048571,2016/4/27,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048572,2016/4/28,2500,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048573,2016/10/7,50,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048574,2016/6/27,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:

forcast_df['Order_Demand'] = pd.to_numeric(forcast_df['Order_Demand'], errors='coerce')
#print(forcast_df)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

forcast_df['Order_Demand'] = scaler.fit_transform(np.array(forcast_df['Order_Demand']).reshape(-1,1))
forcast_df=forcast_df.replace(r'^\s*$', np.nan, regex=True)
forcast_df.dropna(inplace=True,axis=0)


forcast_df

,Date,Order_Demand,Product_Code_Product_0001,Product_Code_Product_0002,Product_Code_Product_0003,Product_Code_Product_0004,Product_Code_Product_0005,Product_Code_Product_0006,Product_Code_Product_0007,Product_Code_Product_0008,...,Product_Category_Category_024,Product_Category_Category_025,Product_Category_Category_026,Product_Category_Category_027,Product_Category_Category_028,Product_Category_Category_029,Product_Category_Category_030,Product_Category_Category_031,Product_Category_Category_032,Product_Category_Category_033
0,2012/7/27,-0.167038,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2012/1/19,-0.153299,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2012/2/3,-0.153299,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2012/2/9,-0.153299,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2012/3/2,-0.153299,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2016/4/27,-0.136124,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048571,2016/4/27,-0.170439,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048572,2016/4/28,-0.084601,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048573,2016/10/7,-0.168756,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048574,2016/6/27,-0.170336,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from sklearn.model_selection import train_test_split

In [22]:
x_columns = 2198
X = forcast_df.iloc[:2000, 2:]
y = forcast_df.iloc[:2000, 1]
train_ratio = 0.80
test_ratio = 0.20
validation_ratio = 0.5

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_ratio)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = validation_ratio)

In [23]:
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
tree_model = DecisionTreeRegressor(criterion='mse', random_state=0)
tree_model.fit(X_train, y_train)
y_pred = tree_model.predict(X_test)
tree_score = r2_score(y_test, y_pred)
print(tree_score)

0.5671862746403017

C:\Users\sachi\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

In [24]:
from sklearn.svm import SVR
modelSVR = SVR(kernel='poly').fit(X_train, y_train)
y_pred_svr = modelSVR.predict(X_test)
score_svr = r2_score(y_test, y_pred_svr)
score_svr

0.528523773350938